@font-face{
	font-family: "Lobster";
	src:url("fonts/Lobster-Regular.ttf");
}

@font-face{
	font-family: "PlayfairDisplay";
	src:url("fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face{
	font-family: "PlayfairDisplay-Italic";
	src:url("fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

@font-face{
	font-family: "Raleway";
	src:url("fonts/Raleway-VariableFont_wght.ttf");
}

@font-face{
	font-family: "Raleway-Italic";
	src:url("fonts/Raleway-Italic-VariableFont_wght.ttf");
}